/* 11. faq */
.faq-area {
	background-size: cover;
	background-position: center center;
}
.faq-bg {
	background: $white;
	padding: 68px 85px 50px 85px;
}
.faq-wrapper {
	margin-right: 25px;
}
.faq-box .btn-link {
	display: block;
	font-size: 18px;
	border: 0;
	text-decoration: none;
	line-height: 28px;
	font-weight: 600;
	color: #222;
}
.faq-box .card-header {
	padding: 0;
	background: none;
	padding-bottom: 15px;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 15px;
}

.faq-box .card {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0;
	border-radius: 0;
	background: none;
	margin-bottom: 19px;
}
.faq-box .card-body {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 0 0 0 0;
}
.faq-box .card-body p {
	margin: 0;
	line-height: 28px;
}
.faq-box .btn-link.collapsed::before {
	content: "\f067";
}
.faq-box .btn-link::before {
	content: "\f068";
	line-height: 30px;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 14px;
	font-family: "Font Awesome 5 Pro";
}


.faq-img{
	position: relative;
	& img{width:100%;}
}
.faq-video{
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	text-align: center;
	transform: translateY(-50%);
    & a{
        height: 65px;
        width: 65px;
        background: $white;
        display: inline-block;
        border-radius: 50%;
        line-height: 65px;
        text-align: center;
        font-size: 14px;
        transition: .3s;
        color: $theme-color;
        position: relative;
    }
}
.faq-text p {
	font-size: 14px;
	line-height: 30px;
	margin-bottom: 60px;
}

@-webkit-keyframes btnIconRipple { 0% { border-width: 4px; -webkit-transform: scale(1); transform: scale(1); }
  80% { border-width: 1px; -webkit-transform: scale(1.35); transform: scale(1.35); }
  100% { opacity: 0; } }

.faq-video a::before {
	content: '';
	display: inline-block;
	position: absolute;
	top: -2px;
	left: -2px;
	bottom: -2px;
	right: -2px;
	border-radius: inherit;
	border: 1px solid $white;
	-webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
	animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
}