/* 06. newsletter */
.newsletter-wrapper{
    background-size: cover;
    background-position: center center;
    padding: 79px 39px 80px 39px;
}
#newsletter-form form{position: relative;}
#newsletter-form input {
	border: none;
	height: 60px;
	margin-bottom: 10px;
	padding: 0 30px;
	width: 100%;
	font-size: 14px;
	color: $body-text-color;
	font-weight: 400;
	border-radius: 0;
}
  #newsletter-form input::-moz-placeholder {
    font-size: 14px;
    color: $body-text-color;
    font-weight: 400; }
  
#newsletter-form input::placeholder {
font-size: 14px;
color:$body-text-color;
font-weight: 400; }
.newsletter-button button {
	background: $black;
	color: $white;
	line-height: 1;
	padding: 21px 122px;
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 600;
	border-radius: 0;
	transition: .3s;
    border: none;
    cursor: pointer;
    transition: .3s;
    &:hover{background: $theme-color;}
}
.newsletter-title{
    margin-bottom: 43px;
    & h4{
        color: $white;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 2px;
        }
    & h3{
        font-weight: 600;
        font-size: 26px;
        color: $white;
        margin-bottom: 23px;
    }
    & p{
        margin-bottom: 0;
        color: $white;
        line-height: 26px;
    }
}
.newsletter-02-wrapper {
	padding: 48px 46px 70px 40px;
}
.search-title{
    & h3{
        color:$white;
        margin-bottom: 0;
        font-size: 24px;
        font-weight: 600;
    }
}
.pro-filter{
    position: relative;
    & select{
        height: 45px;
        padding: 0 20px;
        font-size: 14px;
        color: $black;
        display: inline-block;
        text-transform: capitalize;
        width: 100%;
        appearance: none;
        -moz-appearance: none;
        border: none;
        margin-bottom: 10px;
    }
}
.pro-filter-icon{
    position: relative;
    &::before{
     content: "\f107";
	right: 20px;
	top: 14px;
	position: absolute;
	color: $black;
	font-family: "Font Awesome 5 Pro";
	font-weight: 400;
	font-size: 14px;
    }
}

.newsletter-02-wrapper .newsletter-button button {
	background: $theme-color;
	padding: 14px 148px;
}

// subscribe
.subscribe-bg {
	background-size: cover;
	background-position: center center;
	padding-left: 20px;
	padding-right: 20px;
}
.subscribe-title{
    margin-bottom: 30px;
    & h3{
        font-size: 30px;
        color: $white;
        font-weight: 400;
        margin-bottom: 0;
        line-height: 1;
    }
    & h1{
        font-size: 50px;
        color: $white;
        margin-bottom: 0;
        font-weight: 600;
    }
}
.newsletter-form  form {
    position: relative;
  }
  .newsletter-form form input {
	height: 60px;
	padding: 0 30px;
	background: $white;
	color: $body-text-color;
	font-size: 14px;
	border: none;
    width: 355px;
    font-weight: 400;
}
  .newsletter-form form input::placeholder {
     color: $body-text-color;
      font-size: 14px;
      font-weight: 400;
  }
  .newsletter-form form::-moz-placeholder {
    color: $body-text-color;
    font-size: 14px;
    font-weight: 400;
  }
  .newsletter-form form button {
	background: $black;
	color: $white;
	line-height: 1;
	padding: 22px 70px;
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 600;
	border-radius: 0;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	border: none;
	cursor: pointer;
	transition: .3s;
    margin-left: 5px;
    &:hover{color:$theme-color;}
}