/* 05. testimonial */
.testimonial-wrapper {
	padding: 33px 40px 38px 35px;
	border: 1px solid #e5e5e5;
}
  .clientsay-name {
    overflow: hidden; 
}
.testimonial-text p {
	margin-bottom: 21px;
}
.client-say-content {
	padding-top: 3px;
	overflow: hidden;
}
  .client-say-img {
    float: left;
    margin-right: 15px; 
}
  .client-say-img img {
    border-radius: 50%; 
}
  .client-say-content h4 {
    font-size: 18px;
    margin-bottom: 0; 
}
  .client-say-content span {
    font-size: 13px;
    color: $theme-color;
    font-weight: 400;
    text-transform: uppercase; 
}