@import 'variables';
/* 03. news */
.hero-img {
    &::before{
        content: '';
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: linear-gradient(to bottom, rgba(4, 13, 51, 0.2) 0%, rgba(4, 13, 51, 0.904) 100%);
    }
        & img{
            width:100%;
        }
    }
    .post-cart {
        position: absolute;
        top: 30px;
        left: 50px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        background:transparent;
        padding: 6px 18px 6px 0;
        line-height: 1;
        &:hover{color:#ffffff;}
    }
    
    .hero-text {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 45px;
        & h3{
            font-size: 35px;
            font-weight: 400;
            line-height: 1.3;
            margin-top:14px;
            margin-bottom: 24px;
            & > a{
                color:#ffffff;
                transition: .3s;
                &:hover{
                    color:$yellow;
                }
            }
        }
        & > a{
            font-size: 14px;
            font-weight: 400;
            color:#ffffff;
            transition: .3s;
            &:hover{color:$yellow;}
            & span{
                border-bottom: 1px solid #ffffff;
            }
            & i{
                position: relative;
                left: 7px;
            }
            &:hover span{border-color:$yellow;}
        }
        
    }
    .hero-meta > span {
        font-size: 14px;
        color: #ffffff;
        font-weight: 400;
        margin-right: 15px;
        transition: .3s;
        text-transform: uppercase;
        & > a:hover{color: #ffffff;;}
        & i{
            font-size: 11px;
            margin-right: 5px;
            position: relative;
        }
    }
    .hero-meta > span:last-child{margin-right:0;}
    .hero-03-wrapper .hero-text {
        padding: 30px;
    }
    .hero-03-wrapper .hero-text h3 {
        font-size: 20px;
        line-height: 1.4;
        margin-top: 7px;
        margin-bottom: 11px;
    }
    .hero-03-wrapper .post-cart {
        position: absolute;
        top: 20px;
        left: 30px;
    }
    .hero-04-wrapper .hero-text {
        padding: 30px 30px 45px;
    }
    .hero-04-wrapper .hero-text h3 {
        font-size: 24px;
        line-height: 1.3;
        margin-top: 8px;
        margin-bottom: 16px;
    }
    .hero-04-wrapper .hero-meta > span {
        text-transform: capitalize;
    }
    .hero-04-wrapper .post-cart {
        top: 20px;
        left: 30px;
        padding: 6px 12px;
        color:#ffffff;
    }
    .hero-04-wrapper .post-02-cart {
        left: 97px;
    }
    // .hero-05-wrapper
    .hero-05-wrapper .hero-text {
        padding: 30px 30px 26px;
    }
    .hero-05-wrapper .hero-text h3 {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 8px;
    }
    // hero-2-wrapper
    .hero-2-wrapper .hero-text {
        padding: 20px 15px 25px;
    }
    .hero-2-wrapper .hero-text h3 {
        font-size: 16px;
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .hero-2-wrapper .hero-meta > span {
        text-transform: capitalize;
    }
    .hero-2-wrapper .hero-meta > span i {
        font-size: 14px;
       color: #ffffff;
    }


    
    // post-box
    .post-img img{width: 100%;}
    .post-box-meta span {
        margin-right: 20px;
        &:last-child{margin-right: 0;}
    }
    .post-box-cart {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 3px 15px 3px 0;
        display: inline-block;
    }
    .color-1{background: #ffffff;}
    .color-2{background: $blue-soft;}
    .color-3{background: $green;}
    .color-4{background: $pink;}
    .color-5{background: $pink-2;}
    .color-6{background: $blue-2;}
    .color-7{background: $red;}
    .color-8{background: $yellow;}
    .post-box-cart1{
        font-weight: 400;
        font-size: 14px;
        & a{
            color:$body-text-color;
            & i{
                color:#666666;
                font-size: 11px;
                position: relative;
                right:4px;
            }
        }
    }
    .post-box-text{
        & h4 {
            font-size: 18px;
            font-weight: 600;
            line-height: 1.5;
            margin-bottom: 0;
            margin-top: 13px;
            & a{
                transition: .3s;
                &:hover{color:$theme-color;}
            }
        }
    }
    .section-title{
        border-bottom: 2px solid #eeeeee;
        & h4{
         font-size: 25px;
        padding-bottom: 13px;
        margin-bottom: 0;
        text-transform: capitalize;
        }
    }
    .section-2{overflow: hidden;}
    .area-title{
        position: relative;
        & h3{
            color:#ffffff;
            font-size: 26px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 0;
        }
        &::before{
            position: absolute;
            height: 1px;
            width: 30px;
            content: "";
            left: 0;
            right: 0;
            margin:auto;
            background: #ffffff;
            bottom: 0;
        }
    }
    .news-button a {
        color: #ffffff;;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 16px;
        border-bottom: 2px solid #ffffff;
        line-height: 1;
        display: inline-block;
    }
    .news-02-button a{color:$black;border-bottom:2px solid $black;}
    .latest-news-button a {
        color: #ffffff;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 16px;
        line-height: 1;
        display: inline-block;
        & i{
            padding-left: 5px;
        }
    }
    .latest-newss-button{
        & a {
            color: $black;
            font-weight: 600;
            text-transform: capitalize;
            font-size: 16px;
            line-height: 1;
            display: inline-block;
            font-family: $poppins;
            & i{
                padding-left: 5px;
            }
        }
    }
    .post-content span {
        font-size: 15px;
        font-weight: 400;
        color:$body-text-color;
        margin-bottom: 0;
    }
    .post-content h4 {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 6px;
        & a{
            transition: .3;
            &:hover{color:#ffffff;}
        }
    }
    .post-sm-img {
        position: relative;
        margin-right: 20px;
    }
    .post-sm-img > a img {
        width: 120px;
        height: 80px;
    }
    .arrow-active .owl-nav div {
        color: #b5b5b5;
        font-size: 14px;
        position: absolute;
        top: -68px;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        font-weight: 400;
        border: 1px solid #e2e2e2;
        height: 25px;
        width: 25px;
        text-align: center;
        line-height: 25px;
        right: 2px;
    }
    .arrow-active .owl-nav div.owl-prev {
        right: 34px;
    }
    .arrow-active .owl-nav div:hover{border-color:#ffffff;color:#ffffff;}

    .latest-news-img a img {
        width: 100%;
    }
    .news-cart {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        background: #ffffff;
        padding: 6px 13px;
        line-height: 1;
    }
    .latest-news-text{
        margin-top: 20px;
        & h4{
            font-size: 20px;
            font-weight: 600;
            line-height: 1.4;
            margin-bottom: 12px;
            & > a{
                transition: .3s;
                &:hover{color:#ffffff;}
            }
        }
        & p{
            margin-bottom: 0;
        }
    }
    // recent-news
    .recent-news-img {
        &::after {
            content: '';
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.904) 100%);
        }
        & > a img{
            width:100%;
        }
    }
    .recent-news-text {
        position: absolute;
        bottom: 0;
        z-index: 9;
        padding: 20px 20px 16px;
        & h5{
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 0;
            line-height: 1.4;
            margin-top: 9px;
            & > a{
                color:#ffffff;
                transition: .3s;
                &:hover{color:#ffffff;}
            }
        }
    }
    .recent-cart {
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        padding: 6px 16px;
        line-height: 1;
        display: inline-block;
        & > a:hover{color:#ffffff;}
    }
    .social-icon a {
        color: #fff;
        font-size: 14px;
        display: inline-block;
        text-align: center;
        margin-right: 4px;
        transition: .3s;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 5px;
        &:last-child{margin-right: 0;}
    }
    .fb{background: #1f3d7c;}
    .twit{background: $blue-2;}
    .insta{background: #ad3f90;}
    .pin{background: $maron;}
    .google{background: #df3520;}
    .dribbble{background: $pink-2;}
    .app{background: #00a276;}
    .behance{background: $blue-2;}
    .insta1{background: #405de6;}
    .youtub{background: #ec2828;}
    .banner-2-img > a img{width:100%;}

    // postbox-2
    .meta-box{
        font-size: 13px;
            color:$body-text-color;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            & > :hover{color:$body-text-color;}
    }
    .meta-cart{
        color:#ffffff; 
        position: relative;
        margin-right: 12px; 
        &:hover{color:#ffffff;}
        &::before{
            content: "";
            position: absolute;
            background: #f36233;
            height: 2px;
            width: 2px;
            border-radius: 50%;
            right: -8px;
            top: 9px;
          }
    }
    .postbox-2 .post-box-text h4 {
        margin-top: 6px;
        font-size: 20px;
        line-height: 1.4;
    }
    .postbox-2 .post-box-meta {
        margin-top: 10px;
    }
    .postbox-2 .post-box-cart1 a i {
        font-size: 14px;
    }
    .cart-1{color:$pink;}
    .cart-1::before{background:$pink;}
    .cart-2{color:$blue-soft;}
    .cart-2::before{background:$blue-soft;}
    .cart-3{color:$green;}
    .cart-4{color:$red;}
    .cart-5{color:$yellow}
    .news-active .owl-nav div {
        color: #b5b5b5;
        font-size: 14px;
        position: absolute;
        top: -68px;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        font-weight: 400;
        border: 1px solid #e2e2e2;
        height: 25px;
        width: 25px;
        text-align: center;
        line-height: 25px;
        right: 16px;
    }
    .news-active .owl-nav div.owl-prev {
        right: 48px;
    }
    .news-active .owl-nav div:hover{border-color:#ffffff;color:#ffffff;}
    .news-active .owl-nav div {
        color: #b5b5b5;
        font-size: 14px;
        position: absolute;
        top: -68px;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        font-weight: 400;
        border: 1px solid #e2e2e2;
        height: 25px;
        width: 25px;
        text-align: center;
        line-height: 25px;
        right: 16px;
    }
    .news-active .owl-nav div.owl-prev {
        right: 48px;
    }
    .news-active .owl-nav div:hover{border-color:#ffffff;color:#ffffff;}
    // postbox-3
    .postbox-3 .meta-cart::before {
        display: none;
    }
    .postbox-3 .post-box-text h4 {
        margin-top: 4px;
        font-size: 16px;
        line-height: 1.4;
    }
    .postbox-3 .post-box-meta {
        margin-top: 6px;
    }
    .postbox-3 .meta-box {
	letter-spacing: 0;
}
.postbox-4 .post-box-text h4 {
	font-size: 18px;
}
// postbox-5
.postbox-5 .post-box-text {
	margin-top: 11px;
}
.postbox-5 .post-box-text h4 {
	margin-top: 0;
}



    // hero-post-item-2
    .hero-post-item-2 .post-sm-img > a img {
        width: 120px;
        height: 90px;
    }
    .post-content-meta span {
         font-size: 14px;
        margin-right: 10px;
        &:last-child{margin-right: 0;}
        & > a{
            & i{margin-right: 4px;}
        }
    }
    .meta-11{
        color: #888;
        &:hover{color: #888;}
    }
    .post-2-content h4 {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 0;
        margin-top: 5px;
        & a{
            transition: .3;
            &:hover{color:$theme-color;}
        }
    }
    .meta-1 {
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 700;
        font-size: 13px;
        &:hover{color:#ffffff;}
    }
    .meta-2{color:$green;}
    .meta-3{color:$blue-soft}
    .meta-4{color:$pink-2;}
    .meta-5{color:$red;}
    // hero-post-item-3
    .hero-post-item-3 .post-sm-img > a img {
        width: 90px;
        height: 90px;
    }

    // news-02
    .recent-news-02-text {
        padding: 20px 20px 24px;
        left: 0;
        right: 0;
        text-align: center;
    }
    .video-icon {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        transform: translateY(-50%);
        z-index: 9;
        & a{
        height: 75px;
        width: 75px;
        background: #ffffff;
        display: inline-block;
        border-radius: 50%;
        line-height: 75px;
        text-align: center;
        font-size: 14px;
        transition: .3s;
        color: $red;
        position: relative;
        }
    }
    @-webkit-keyframes btnIconRipple { 0% { border-width: 4px; -webkit-transform: scale(1); transform: scale(1); }
80% { border-width: 1px; -webkit-transform: scale(1.35); transform: scale(1.35); }
100% { opacity: 0; } }

.video-icon a::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  border-radius: inherit;
  border: 1px solid #ffffff;
  -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
  animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
}
    .meta-22{
        color:#d5d5d5;
     &:hover{color:#d5d5d5;}
    }
    .news-02-meta {
        margin-top: 6px;
    }
    .hero-02-wrapper  .hero-text {
        padding: 45px 158px 45px 45px;
    }
    // news-02
    .recent-news-text-2 h5 {
        font-size: 20px;
        margin-top: 13px;
    }
    // news-03
    .recent-news-text-03 {
        padding: 20px 70px 25px 30px;
    }
    .recent-news-text-03 h5 {
        font-size: 22px;
        margin-top: 13px;
    }
    // news-post-item
    .news-post-item .post-sm-img {
        position: relative;
        margin-right: 25px;
        &::before{
            background: #222;
            content: "";
            position: absolute;
            height: 100%;
            width:100%;
            left: 0;
            top:0;
            opacity: .7;
        }
    }
    .news-post-item .post-sm-img > a img {
        width: 180px;
        height: 145px;
    }
    .news-video-icon {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        transform: translateY(-50%);
        z-index: 9;
        & a{
            height: 45px;
            width: 45px;
            display: inline-block;
            border-radius: 50%;
            line-height: 45px;
            text-align: center;
            font-size: 14px;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
            color: #ffffff;
            border: 2px solid #ffffff;
            &:hover{background: #ffffff;border-color:#ffffff;color:#ffffff;}
        }
    }
    .news-post-item .post-2-content {
        margin-top: 10px;
    }
   .news-post-item .post-2-content h4 {
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 7px;
	margin-top: 11px;
}
   .news-post-item .post-content-meta span {
	margin-right: 17px;
}
// news-post-item-2
.news-post-item-2 .post-sm-img::before {
	display: none;
}
.hero-big{
    max-width:80%;
    flex: 0 0 80%;
}
.hero-sm{
    max-width:20%;
    flex: 0 0 20%;
}
// lifestyle
.lifestyle-img > a img{width:100%;}
.lifestyle-text{
    margin-top: 30px;
    & h4{
        font-size: 22px;
        font-weight: 600; 
        margin-top: 10px;
        margin-bottom: 10px;
        & > a{
            color:$black;
            transition: .3s;
            &:hover{color:$theme-color;
        }
     }
    }
    & P{
        margin-bottom: 10px;
        line-height: 1.8;
    }
}
.lifestyle-text .post-content-meta span {
	margin-right: 14px;
}
.lifestyle-02-text h4 {
	font-size: 30px;
}
.lifestyle-02-text > a {
	font-size: 14px;
	color: #222;
	font-weight: 600;
    transition: .3s;
    & i{
        position: relative;
        left: 6px;
        top: 1px;
    }
    &:hover{color:#ffffff;}
}
.lifestyle-02-text P {
	margin-bottom: 13px;
}
.news-02-active .owl-nav div {
    color: #b5b5b5;
    font-size: 14px;
    position: absolute;
    top: -68px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-weight: 400;
    border: 1px solid #e2e2e2;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    right: 16px;
}
// lifestyle-03-text
.lifestyle-03-text {
	margin-top: 20px;
}
.lifestyle-03-text h4 {
	font-size: 24px;
	margin-top: 8px;
	margin-bottom: 10px;
	letter-spacing: -.3px;
	line-height: 1.3;
}
.lifestyle-03-text p {
	margin-bottom: 0;
}
// lifestyle-04-text
.lifestyle-04-text{margin-top: 10px;}
.lifestyle-04-text h4 {
    font-size: 20px;
    line-height: 1.4;
}
.lifestyle-04-text p {
	margin-bottom: 10px;
	margin-right: 57px;
}
.news-02-active .owl-nav div.owl-prev {
    right: 48px;
}
.news-02-active .owl-nav div:hover{border-color:#ffffff;color:#ffffff;}
.news-03-active .owl-nav div {
    color: #b5b5b5;
    font-size: 14px;
    position: absolute;
    top: -68px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-weight: 400;
    border: 1px solid #e2e2e2;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    right: 16px;
}
.news-03-active .owl-nav div.owl-prev {
    right: 48px;
}
.news-03-active .owl-nav div:hover{border-color:#ffffff;color:#ffffff;}
// news-04-active
.news-04-active .owl-nav div {
    color: #b5b5b5;
    font-size: 14px;
    position: absolute;
    top: -68px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-weight: 400;
    border: 1px solid #e2e2e2;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    right: 16px;
}
.news-04-active .owl-nav div.owl-prev {
    right: 48px;
}
.news-04-active .owl-nav div:hover{border-color:#ffffff;color:#ffffff;}

.popular-tag{
    & a{
        display: inline-block;
        line-height: 1;
        padding: 12px 20px;
        border: 1px solid #ebebeb;
        margin-bottom: 10px;
        margin-right: 5px;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 400;
        color: $body-text-color;
        transition: .3s;
        &:hover{
            background: #ffffff;
            color: $theme-color;
            border-color:$theme-color;
        }
    }
}
// breaking-news-area
.breaking-news-area {
	margin-bottom: -90px;
	z-index: 999;
	position: relative;
}
.breaking-bg {
	padding: 30px 50px 10px;
}
.breaking-wrapper{background: #ffffff; padding: 20px;}
.breaking-wrapper .post-sm-img > a img {
	width: 120px;
	height: 90px;
}

// news-tab
.news-tab {
	border-bottom: 2px solid #eeeeee;
}
  .news-tab li {
    margin-right: 65px;
      position: relative;
      padding: 0;
  }
  .news-tab li a {
	transition: .3s;
	padding: 0;
	margin: 0;
	text-align: center;
	line-height: 1;
	font-size: 20px;
	font-weight: 700;
	color: #222;
    padding-bottom: 15px;
    font-family: $poppins;
}
  .news-tab li a:hover{color:#ffffff;border-bottom: 2px solid #ffffff;}
  .news-tab li a.active{color:#ffffff;border-bottom: 2px solid #ffffff;}
  .news-tab li:last-child {margin-right: 0;}
  .news-tab li a::before {
	position: absolute;
	content: "";
	width: 8px;
	height: 8px;
	background: #c1c1c1;
	border-radius: 50%;
	right: -37px;
    top: 7px;
}
.news-tab li:last-child a::before {display: none;}
.post-sm-icon a{
    margin-right: 15px;
    position: relative;
    top: 4px;
    & i{
     color: $body-text-color;
	font-size: 16px;
    }
}
.mews-05-area {
	background-size: cover;
	background-position: center center;
}
// news-data-area
.news-data-bg {
	margin-left: 80px;
	margin-right: 80px;
	margin-top: -150px;
}
.news-data-wrapper{
    box-shadow: 0px 10px 29.7px 0.3px rgba(226, 226, 226, 0.88);
    background: #ffffff;
    padding: 40px 40px 30px 40px;
}
.news-data-text{
    & h3{
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 0;
        line-height: 1.5;
        margin-top: 14px;
        & a{
            transition: .3s;
            &:hover{color:#ffffff;}
        }
        }
}
// layout
blockquote {
    background: #f1f1f1;
    padding: 21px;
    position: relative;
    padding-left: 130px; }
    @media (max-width: 767px) {
      blockquote {
        padding: 30px; } }
    blockquote > p {
      font-size: 19px;
      margin-bottom: 0;
      color: #757677;
      font-weight: 300;
      line-height: 1.4;
      font-family: $merriweather;
     }
     blockquote > cite { 
      color: #999999;  
     }
     blockquote::before {
        content: "\f10e";
        left: 40px;
        top: 45px;
        position: absolute;
        color: #dadada;
        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        font-size: 24px;
        height: 60px;
        width: 60px;
        background: #ffffff;
        border-radius: 50%;
        text-align: center;
        line-height: 60px;
    }
  .layout-text{
      & h3{
        font-size: 24px;
        margin-bottom: 15px;
      }
      & p{
        margin-bottom: 20px;
      }
  }
  .layout-link{
      & li{
        padding-bottom: 11px;
        font-size: 14px;
        font-weight: 400;
        padding-left: 18px;
        position: relative;
        &::before{
            height: 8px;
            width: 8px;
            background: #ffffff;
            content: "";
            position: absolute;
            left: 0;
            border-radius: 50%;
            top:7px;
        }
      }
  }
 .layout-wrapper .lifestyle-text h4 > a:hover {
	color: $black;
}
.layout-content{
    & h3{
        font-size: 24px;
        margin-right: 20px;
        line-height: 1.3;
        margin-bottom: 16px;
    }
    & p{
        margin-bottom: 19px;
    }
}
.layout-video-icon {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
    z-index: 9;
    & a{
        height: 70px;
        width: 100px;
        display: inline-block;
        border-radius: 15px;
        line-height: 75px;
        text-align: center;
        font-size: 24px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        color: #ffffff;
        position: relative;
        background: #ff0000;
    }
}
.layout-title {
	font-size: 24px;
	line-height: 1.3;
	margin-bottom: 0;
}
.blog-post-tag span {
	font-size: 18px;
	color: $black;
	font-weight: 700;
}
.blog-post-tag > a {
	color: $body-text-color;
	display: inline-block;
    font-size: 15px;
    transition: .3s;
    &:hover{color:$theme-color;}
}
.blog-share-icon > span {
	color: $black;
	font-size: 18px;
	font-weight: 700;
}
.blog-share-icon > a {
	color: #cbcbcb;
	font-size: 14px;
	margin: 0 8px;
    transition: .3s;
    &:hover{color:#ffffff;}
}

.author {
	background: #f4f9fc;
	padding: 50px;
	padding-bottom: 20px;
    @media #{$xs}{
        padding: 30px 30px 44px 30px;
    }
}
.author-img {
    margin-bottom: 35px;
    margin-right: 30px;
    & img{
        border-radius: 50%;
    }
}
.author-text{
    margin-top: 10px;
    & h3{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 13px;
    }
    & p{
        margin-bottom: 15px;
    }
}
.author-icon {
    margin-top: 6px;
    & a{
        font-size: 15px;
        color: #cbcbcb;
        margin: 0 5px;
        transition: .3s;
        &:hover{
            color:#ffffff;
        }
    }
}
.post-comments {
	margin-bottom: 50px;
}
.blog-coment-title {
    & h2{
        font-size: 26px;
        margin-bottom: 0;
    }
}
.comments-avatar {
    float: left;
    @media #{$xs}{
        float: none;
    }
    & img{
        width: 100px;
        margin-right: 20px;
    }
}
.latest-comments{
    & li:first-child .comments-box{
        border-top: 0;
        padding-top: 0;
    }
    & li:last-child .comments-box{
        border-bottom: 0;
        padding-bottom: 0;
    }
    & li.children{
        margin-left: 100px;
        @media #{$xs}{
            margin-left: 0;
        }
    }
}

.comments-box{
    border-top: 1px solid #e8e8e8;
    padding: 30px 0;

}
.comments-text {
    overflow: hidden;
    padding-top: 4px;
    @media #{$xs}{
        margin-top: 15px;
    }
    & p{
        margin-bottom: 0;
        margin-top: 8px;
    }
}
.avatar-name {
    & h5{
        font-size: 18px;
        margin-bottom: 7px;
    }
    & span{
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}
.avatar-name {
    margin-bottom: 3px;
    overflow: hidden;
    position: relative;
}
.reply {
    color: $body-text-color;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    transition: .3s;
    line-height: 1;
    float: right;
    margin-top: 4px;
    position: absolute;
    right: 0;
    top: 0;
    &:hover{
        color:#ffffff;
    }
    & i{
        margin-right: 5px;
    }
}
.conatct-post-form {
    background: #f4f9fc;
    padding: 50px;
    @media #{$xs}{
        padding: 20px;

    }
    & input{
        border: none;
        height: 60px;
        margin-bottom: 20px;
        padding: 0 30px;
        width: 100%;
        font-size: 14px;
        color: #a7a7c1;
    }
    & textarea{
        border: none;
        height: 150px;
        margin-bottom: 20px;
        padding: 30px;
        width: 100%;
        color: #a7a7c1;
        font-size: 14px;
    }
}
#contacts-form input::-moz-placeholder {
  color: #a7a7c1;
  font-size: 14px;
}
#contacts-form input::placeholder {
  color: #a7a7c1;
  font-size: 14px;
}
#contacts-form textarea::-moz-placeholder {
  color: #a7a7c1;
  font-size: 14px;
}
#contacts-form textarea::placeholder {
  color: #a7a7c1;
  font-size: 14px;
}
.contact-icon{
    position:relative;
}
.contact-icon::after {
    position: absolute;
    content: "";
    font-family: "Font Awesome 5 Pro";
    font-weight: 700;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    right: 30px;
    color: #ffffff;
    top: 18px;
}
.contact-icon::after {
    position: absolute;
    content: "";
    font-family: "Font Awesome 5 Pro";
    font-weight: 700;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    right: 30px;
    color: #ffffff;
    top: 18px;
}
.contacts-message::after {
    content: "\f303";
}
.contacts-name::after {
    content: "\f007";
}
.contacts-email::after {
    content: "\f0e0";
}
.contacts-website::after {
    content: "\f0ac";
}  
.conatct-post-form button {
	background: $black;
	color: #ffffff;
	line-height: 1;
	padding: 21px 122px;
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 600;
	border-radius: 0;
	transition: .3s;
    border: none;
    cursor: pointer;
    transition: .3s;
    &:hover{background: #ffffff;}
}
.layout-wrapper-02 .lifestyle-text {
	margin-top: 0;
}
.layout-2-img{
    & img{
        width: 100%;
    }
}
.layout-img img {
	width: 100%;
}
.layout-wrapper-03 .lifestyle-02-text h4 {
	font-size: 40px;
	margin-bottom: 30px;
	margin-top: 21px;
}
.layout-content-02 h3 {
	font-size: 30px;
	margin-right: 0;
	margin-bottom: 19px;
}
.layout-content-02 p {
	margin-bottom: 32px;
}
.layout-2-title {
	font-size: 30px;
	text-align: center;
}
// author
.author-border{border-bottom: 1px solid #e9e9e9;}
.author-1-img{
    & img{
        width:100%;
    }
}
.author-2-text{
    margin-left: 20px;
    margin-top: 43px;
    & h2{
        font-size: 30px;
        margin-bottom: 21px;
    }
    & p{
        margin-bottom: 32px;
    }
}
.author-2-text .social-icon a {
	font-size: 13px;
	text-align: center;
	margin-right: 5px;
	height: 36px;
	width: 36px;
	line-height: 36px;
    border-radius: 50%;
    &:last-child{margin-right: 0;}
}

// WP
.wp-block-image figcaption {
    font-size: 14px;
    color: #929292;
}

.wp-pagenavi a, .wp-pagenavi span {
    padding: 10px 15px; 
    width:15px;
    height:15px;
    margin-right: 10px;
    font-size: 14px; 
    color: $body-text-color; 
    text-decoration: none;
    border: none !important; 
  /*  -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;  */
    border-radius: 50%;
	}
.wp-pagenavi a:hover, .wp-pagenavi span.current {
	background: $theme-color;
	color: #fff;
	border: none;
	}
.wp-pagenavi span.current { font-weight: bold; }

// majalah
.hero-img.majalah img {
    height: auto;
}

/**
 * 11.4 - Comments
 */

 .comments-area {
	margin: 30px 0;
}

.comment-list + .comment-respond,
.comment-navigation + .comment-respond {
	padding-top: 1.75em;
}

.comments-title,
.comment-reply-title {
	border-top: 4px solid #1a1a1a;
	font-family: 'Poppins', "Helvetica Neue", sans-serif;
	font-size: 23px;
	font-size: 1.4375rem;
	font-weight: 700;
	line-height: 1.3125;
	padding-top: 1.217391304em;
}

.comments-title {
	margin-bottom: 1.217391304em;
}

.comment-list {
	list-style: none;
	margin: 0;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
	border-top: 1px solid #d1d1d1;
	padding: 1.75em 0;
}

.comment-list .children {
	list-style: none;
	margin: 0;
}

.comment-list .children > li {
	padding-left: 0.875em;
}

.comment-author {
	color: #1a1a1a;
	margin-bottom: 0.4375em;
}

.comment-author .avatar {
	float: left;
	height: 28px;
	margin-right: 0.875em;
	position: relative;
	width: 28px;
}

.bypostauthor > article .fn:after {
	content: "\f304";
	left: 3px;
	position: relative;
	top: 5px;
}

.comment-metadata,
.pingback .edit-link {
	color: #686868;
	font-family: 'Roboto', "Helvetica Neue", sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.6153846154;
}

.comment-metadata {
	margin-bottom: 2.1538461538em;
}

.comment-metadata a,
.pingback .comment-edit-link {
	color: #686868;
}

.comment-metadata a:hover,
.comment-metadata a:focus,
.pingback .comment-edit-link:hover,
.pingback .comment-edit-link:focus {
	color : $theme-color;
}

.comment-metadata .edit-link,
.pingback .edit-link {
	display: inline-block;
}

.comment-metadata .edit-link:before,
.pingback .edit-link:before {
	content: "\002f";
	display: inline-block;
	opacity: 0.7;
	padding: 0 0.538461538em;
}

.comment-content ul,
.comment-content ol {
	margin: 0 0 1.5em 1.25em;
}

.comment-content li > ul,
.comment-content li > ol {
	margin-bottom: 0;
}

.comment-reply-link {
	border: 1px solid #d1d1d1;
	border-radius: 2px;
	color: #007acc;
	display: inline-block;
	font-family: 'Poppins', "Helvetica Neue", sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1;
	margin-top: 2.1538461538em;
    padding: 0.5384615385em 0.5384615385em 0.4615384615em;
    display:none;
}

.comment-reply-link:hover,
.comment-reply-link:focus {
	border-color: currentColor;
	color: #007acc;
	outline: 0;
}

.comment-form {
	padding-top: 1.75em;
}

.comment-form label {
	color: #686868;
	display: block;
	font-family: 'Roboto', "Helvetica Neue", sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
	letter-spacing: 0.076923077em;
	line-height: 1.6153846154;
	margin-bottom: 0.5384615385em;
	text-transform: uppercase;
}

.comment-list .comment-form {
	padding-bottom: 1.75em;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
	color: #686868;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.6153846154;
	margin-bottom: 2.1538461538em;
}

.no-comments {
	border-top: 1px solid #d1d1d1;
	font-family: 'Roboto', "Helvetica Neue", sans-serif;
	font-weight: 700;
	margin: 0;
	padding-top: 1.75em;
}

.comment-navigation + .no-comments {
	border-top: 0;
	padding-top: 0;
}

.form-allowed-tags code {
	font-family: Inconsolata, monospace;
}

.form-submit {
	margin-bottom: 0;
}

.required {
	color: #007acc;
	font-family: Merriweather, Georgia, serif;
}

.comment-reply-title small {
	font-size: 100%;
}

.comment-reply-title small a {
	border: 0;
	float: right;
	height: 32px;
	overflow: hidden;
	width: 26px;
}

.comment-reply-title small a:hover,
.comment-reply-title small a:focus {
	color: #1a1a1a;
}

.comment-reply-title small a:before {
	content: "\f405";
	font-size: 32px;
	position: relative;
	top: -5px;
}

.comment-form #wp-comment-cookies-consent {
	margin: 0 10px 0 0;
}

.comment-form .comment-form-cookies-consent label {
	display: inline;
	font-family: Merriweather, Georgia, serif;
	letter-spacing: 0;
	text-transform: none;
}

/* majalah */
.majalah img {
    height:auto;
}