/* 03. news */
.hero-img::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(4, 13, 51, 0.2) 0%, rgba(4, 13, 51, 0.904) 100%); }
.hero-img img {
  width: 100%; }

.post-cart {
  position: absolute;
  top: 30px;
  left: 50px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  background: #ffffff;
  padding: 6px 18px;
  line-height: 1; }
  .post-cart:hover {
    color: #ffffff; }

.hero-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 45px; }
  .hero-text h3 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.3;
    margin-top: 14px;
    margin-bottom: 24px; }
    .hero-text h3 > a {
      color: #ffffff;
      transition: .3s; }
      .hero-text h3 > a:hover {
        color: #ffffff; }
  .hero-text > a {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    transition: .3s; }
    .hero-text > a:hover {
      color: #ffffff; }
    .hero-text > a span {
      border-bottom: 1px solid #ffffff;
      transition: .3s; }
    .hero-text > a i {
      position: relative;
      left: 7px; }
    .hero-text > a:hover span {
      border-color: #ffffff; }

.hero-meta > span {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  margin-right: 15px;
  transition: .3s;
  text-transform: uppercase; }
  .hero-meta > span > a:hover {
    color: #ffffff; }
  .hero-meta > span i {
    font-size: 11px;
    margin-right: 5px;
    position: relative; }

.hero-meta > span:last-child {
  margin-right: 0; }

.hero-03-wrapper .hero-text {
  padding: 30px; }

.hero-03-wrapper .hero-text h3 {
  font-size: 20px;
  line-height: 1.4;
  margin-top: 7px;
  margin-bottom: 11px; }

.hero-03-wrapper .post-cart {
  position: absolute;
  top: 20px;
  left: 30px; }

.hero-04-wrapper .hero-text {
  padding: 30px 30px 45px; }

.hero-04-wrapper .hero-text h3 {
  font-size: 24px;
  line-height: 1.3;
  margin-top: 8px;
  margin-bottom: 16px; }

.hero-04-wrapper .hero-meta > span {
  text-transform: capitalize; }

.hero-04-wrapper .post-cart {
  top: 20px;
  left: 30px;
  padding: 6px 12px; }

.hero-04-wrapper .post-02-cart {
  left: 97px; }

.hero-05-wrapper .hero-text {
  padding: 30px 30px 26px; }

.hero-05-wrapper .hero-text h3 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 8px; }

.hero-2-wrapper .hero-text {
  padding: 20px 15px 25px; }

.hero-2-wrapper .hero-text h3 {
  font-size: 16px;
  margin-top: 6px;
  margin-bottom: 6px; }

.hero-2-wrapper .hero-meta > span {
  text-transform: capitalize; }

.hero-2-wrapper .hero-meta > span i {
  font-size: 14px;
  color: #ffffff; }

.post-img img {
  width: 100%; }

.post-box-meta span {
  margin-right: 20px; }
  .post-box-meta span:last-child {
    margin-right: 0; }

.post-box-cart {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 3px 15px;
  display: inline-block; }
  .post-box-cart a {
    color: #ffffff; }

.color-1 {
  background: #ffffff; }

.color-2 {
  background: #007bff; }

.color-3 {
  background: #4ca80b; }

.color-4 {
  background: #da1793; }

.color-5 {
  background: #fb2578; }

.color-6 {
  background: #008de4; }

.color-7 {
  background: #f43d33; }

.color-8 {
  background: #fcad10; }

.post-box-cart1 {
  font-weight: 400;
  font-size: 14px; }
  .post-box-cart1 a {
    color: #5a5a5a; }
    .post-box-cart1 a i {
      color: #666666;
      font-size: 11px;
      position: relative;
      right: 4px; }

.post-box-text h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 13px; }
  .post-box-text h4 a {
    transition: .3s; }
    .post-box-text h4 a:hover {
      color: #ffffff; }

.section-title {
  border-bottom: 2px solid #eeeeee; }
  .section-title h4 {
    font-size: 20px;
    padding-bottom: 13px;
    margin-bottom: 0;
    text-transform: capitalize; }

.section-2 {
  overflow: hidden; }

.area-title {
  position: relative; }
  .area-title h3 {
    color: #ffffff;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0; }
  .area-title::before {
    position: absolute;
    height: 1px;
    width: 30px;
    content: "";
    left: 0;
    right: 0;
    margin: auto;
    background: #ffffff;
    bottom: 0; }

.news-button a {
  color: #ffffff;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 16px;
  border-bottom: 2px solid #ffffff;
  line-height: 1;
  display: inline-block; }

.news-02-button a {
  color: #222;
  border-bottom: 2px solid #222; }

.latest-news-button a {
  color: #ffffff;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 1;
  display: inline-block; }
  .latest-news-button a i {
    padding-left: 5px; }

.latest-newss-button a {
  color: #222;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  font-family: "Poppins", sans-serif; }
  .latest-newss-button a i {
    padding-left: 5px; }

.post-content span {
  font-size: 15px;
  font-weight: 400;
  color: #5a5a5a;
  margin-bottom: 0; }

.post-content h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 6px; }
  .post-content h4 a {
    transition: .3; }
    .post-content h4 a:hover {
      color: #ffffff; }

.post-sm-img {
  position: relative;
  margin-right: 20px; }

.post-sm-img > a img {
  width: 120px;
  height: 80px; }

.arrow-active .owl-nav div {
  color: #b5b5b5;
  font-size: 14px;
  position: absolute;
  top: -68px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 400;
  border: 1px solid #e2e2e2;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 25px;
  right: 2px; }

.arrow-active .owl-nav div.owl-prev {
  right: 34px; }

.arrow-active .owl-nav div:hover {
  border-color: #ffffff;
  color: #ffffff; }

.latest-news-img a img {
  width: 100%; }

.news-cart {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  background: #ffffff;
  padding: 6px 13px;
  line-height: 1; }

.latest-news-text {
  margin-top: 20px; }
  .latest-news-text h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 12px; }
    .latest-news-text h4 > a {
      transition: .3s; }
      .latest-news-text h4 > a:hover {
        color: #ffffff; }
  .latest-news-text p {
    margin-bottom: 0; }

.recent-news-img::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.904) 100%); }
.recent-news-img > a img {
  width: 100%; }

.recent-news-text {
  position: absolute;
  bottom: 0;
  z-index: 9;
  padding: 20px 20px 16px; }
  .recent-news-text h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 1.4;
    margin-top: 9px; }
    .recent-news-text h5 > a {
      color: #ffffff;
      transition: .3s; }
      .recent-news-text h5 > a:hover {
        color: #ffffff; }

.recent-cart {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  padding: 6px 16px;
  line-height: 1;
  display: inline-block; }
  .recent-cart > a:hover {
    color: #ffffff; }

.social-icon a {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  margin-right: 4px;
  transition: .3s;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 5px; }
  .social-icon a:last-child {
    margin-right: 0; }

.fb {
  background: #1f3d7c; }

.twit {
  background: #008de4; }

.insta {
  background: #ffffff; }

.pin {
  background: #990011; }

.google {
  background: #df3520; }

.dribbble {
  background: #fb2578; }

.app {
  background: #00a276; }

.behance {
  background: #008de4; }

.insta1 {
  background: #405de6; }

.youtub {
  background: #ec2828; }

.banner-2-img > a img {
  width: 100%; }

.meta-box {
  font-size: 13px;
  color: #5a5a5a;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px; }
  .meta-box > :hover {
    color: #5a5a5a; }

.meta-cart {
  color: #ffffff;
  position: relative;
  margin-right: 12px; }
  .meta-cart:hover {
    color: #ffffff; }
  .meta-cart::before {
    content: "";
    position: absolute;
    background: #f36233;
    height: 2px;
    width: 2px;
    border-radius: 50%;
    right: -8px;
    top: 9px; }

.postbox-2 .post-box-text h4 {
  margin-top: 6px;
  font-size: 20px;
  line-height: 1.4; }

.postbox-2 .post-box-meta {
  margin-top: 10px; }

.postbox-2 .post-box-cart1 a i {
  font-size: 14px; }

.cart-1 {
  color: #da1793; }

.cart-1::before {
  background: #da1793; }

.cart-2 {
  color: #007bff; }

.cart-2::before {
  background: #007bff; }

.cart-3 {
  color: #4ca80b; }

.cart-4 {
  color: #f43d33; }

.cart-5 {
  color: #fcad10; }

.news-active .owl-nav div {
  color: #b5b5b5;
  font-size: 14px;
  position: absolute;
  top: -68px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 400;
  border: 1px solid #e2e2e2;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 25px;
  right: 16px; }

.news-active .owl-nav div.owl-prev {
  right: 48px; }

.news-active .owl-nav div:hover {
  border-color: #ffffff;
  color: #ffffff; }

.news-active .owl-nav div {
  color: #b5b5b5;
  font-size: 14px;
  position: absolute;
  top: -68px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 400;
  border: 1px solid #e2e2e2;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 25px;
  right: 16px; }

.news-active .owl-nav div.owl-prev {
  right: 48px; }

.news-active .owl-nav div:hover {
  border-color: #ffffff;
  color: #ffffff; }

.postbox-3 .meta-cart::before {
  display: none; }

.postbox-3 .post-box-text h4 {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.4; }

.postbox-3 .post-box-meta {
  margin-top: 6px; }

.postbox-3 .meta-box {
  letter-spacing: 0; }

.postbox-4 .post-box-text h4 {
  font-size: 18px; }

.postbox-5 .post-box-text {
  margin-top: 11px; }

.postbox-5 .post-box-text h4 {
  margin-top: 0; }

.hero-post-item-2 .post-sm-img > a img {
  width: 120px;
  height: 90px; }

.post-content-meta span {
  font-size: 14px;
  margin-right: 10px; }
  .post-content-meta span:last-child {
    margin-right: 0; }
  .post-content-meta span > a i {
    margin-right: 4px; }

.meta-11 {
  color: #888; }
  .meta-11:hover {
    color: #888; }

.post-2-content h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 5px; }
  .post-2-content h4 a {
    transition: .3; }
    .post-2-content h4 a:hover {
      color: #3EA404; }

.meta-1 {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 13px; }
  .meta-1:hover {
    color: #ffffff; }

.meta-2 {
  color: #4ca80b; }

.meta-3 {
  color: #007bff; }

.meta-4 {
  color: #fb2578; }

.meta-5 {
  color: #f43d33; }

.hero-post-item-3 .post-sm-img > a img {
  width: 90px;
  height: 90px; }

.recent-news-02-text {
  padding: 20px 20px 24px;
  left: 0;
  right: 0;
  text-align: center; }

.video-icon {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%);
  z-index: 9; }
  .video-icon a {
    height: 75px;
    width: 75px;
    background: #ffffff;
    display: inline-block;
    border-radius: 50%;
    line-height: 75px;
    text-align: center;
    font-size: 14px;
    transition: .3s;
    color: #f43d33;
    position: relative; }

@-webkit-keyframes btnIconRipple {
  0% {
    border-width: 4px;
    -webkit-transform: scale(1);
    transform: scale(1); }
  80% {
    border-width: 1px;
    -webkit-transform: scale(1.35);
    transform: scale(1.35); }
  100% {
    opacity: 0; } }
.video-icon a::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  border-radius: inherit;
  border: 1px solid #ffffff;
  -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
  animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite; }

.meta-22 {
  color: #d5d5d5; }
  .meta-22:hover {
    color: #d5d5d5; }

.news-02-meta {
  margin-top: 6px; }

.hero-02-wrapper .hero-text {
  padding: 45px 158px 45px 45px; }

.recent-news-text-2 h5 {
  font-size: 20px;
  margin-top: 13px; }

.recent-news-text-03 {
  padding: 20px 70px 25px 30px; }

.recent-news-text-03 h5 {
  font-size: 22px;
  margin-top: 13px; }

.news-post-item .post-sm-img {
  position: relative;
  margin-right: 25px; }
  .news-post-item .post-sm-img::before {
    background: #222;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: .7; }

.news-post-item .post-sm-img > a img {
  width: 180px;
  height: 145px; }

.news-video-icon {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%);
  z-index: 9; }
  .news-video-icon a {
    height: 45px;
    width: 45px;
    display: inline-block;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    font-size: 14px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    color: #ffffff;
    border: 2px solid #ffffff; }
    .news-video-icon a:hover {
      background: #ffffff;
      border-color: #ffffff;
      color: #ffffff; }

.news-post-item .post-2-content {
  margin-top: 10px; }

.news-post-item .post-2-content h4 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 7px;
  margin-top: 11px; }

.news-post-item .post-content-meta span {
  margin-right: 17px; }

.news-post-item-2 .post-sm-img::before {
  display: none; }

.hero-big {
  max-width: 80%;
  flex: 0 0 80%; }

.hero-sm {
  max-width: 20%;
  flex: 0 0 20%; }

.lifestyle-img > a img {
  width: 100%; }

.lifestyle-text {
  margin-top: 30px; }
  .lifestyle-text h4 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 13px; }
    .lifestyle-text h4 > a {
      color: #222;
      transition: .3s; }
      .lifestyle-text h4 > a:hover {
        color: #3EA404; }
  .lifestyle-text P {
    margin-bottom: 10px; }

.lifestyle-text .post-content-meta span {
  margin-right: 14px; }

.lifestyle-02-text h4 {
  font-size: 30px; }

.lifestyle-02-text > a {
  font-size: 14px;
  color: #222;
  font-weight: 600;
  transition: .3s; }
  .lifestyle-02-text > a i {
    position: relative;
    left: 6px;
    top: 1px; }
  .lifestyle-02-text > a:hover {
    color: #ffffff; }

.lifestyle-02-text P {
  margin-bottom: 13px; }

.news-02-active .owl-nav div {
  color: #b5b5b5;
  font-size: 14px;
  position: absolute;
  top: -68px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 400;
  border: 1px solid #e2e2e2;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 25px;
  right: 16px; }

.lifestyle-03-text {
  margin-top: 20px; }

.lifestyle-03-text h4 {
  font-size: 24px;
  margin-top: 8px;
  margin-bottom: 10px;
  letter-spacing: -.3px;
  line-height: 1.3; }

.lifestyle-03-text p {
  margin-bottom: 0; }

.lifestyle-04-text {
  margin-top: 10px; }

.lifestyle-04-text h4 {
  font-size: 24px; }

.lifestyle-04-text p {
  margin-bottom: 10px;
  margin-right: 57px; }

.news-02-active .owl-nav div.owl-prev {
  right: 48px; }

.news-02-active .owl-nav div:hover {
  border-color: #ffffff;
  color: #ffffff; }

.news-03-active .owl-nav div {
  color: #b5b5b5;
  font-size: 14px;
  position: absolute;
  top: -68px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 400;
  border: 1px solid #e2e2e2;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 25px;
  right: 16px; }

.news-03-active .owl-nav div.owl-prev {
  right: 48px; }

.news-03-active .owl-nav div:hover {
  border-color: #ffffff;
  color: #ffffff; }

.news-04-active .owl-nav div {
  color: #b5b5b5;
  font-size: 14px;
  position: absolute;
  top: -68px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 400;
  border: 1px solid #e2e2e2;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 25px;
  right: 16px; }

.news-04-active .owl-nav div.owl-prev {
  right: 48px; }

.news-04-active .owl-nav div:hover {
  border-color: #ffffff;
  color: #ffffff; }

.popular-tag a {
  display: inline-block;
  line-height: 1;
  padding: 12px 20px;
  border: 1px solid #ebebeb;
  margin-bottom: 10px;
  margin-right: 5px;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  color: #5a5a5a;
  transition: .3s; }
  .popular-tag a:hover {
    background: #ffffff;
    color: #3EA404;
    border-color: #3EA404; }

.breaking-news-area {
  margin-bottom: -90px;
  z-index: 999;
  position: relative; }

.breaking-bg {
  padding: 30px 50px 10px; }

.breaking-wrapper {
  background: #ffffff;
  padding: 20px; }

.breaking-wrapper .post-sm-img > a img {
  width: 120px;
  height: 90px; }

.news-tab {
  border-bottom: 2px solid #eeeeee; }

.news-tab li {
  margin-right: 65px;
  position: relative;
  padding: 0; }

.news-tab li a {
  transition: .3s;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 1;
  font-size: 20px;
  font-weight: 700;
  color: #222;
  padding-bottom: 15px;
  font-family: "Poppins", sans-serif; }

.news-tab li a:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffffff; }

.news-tab li a.active {
  color: #ffffff;
  border-bottom: 2px solid #ffffff; }

.news-tab li:last-child {
  margin-right: 0; }

.news-tab li a::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background: #c1c1c1;
  border-radius: 50%;
  right: -37px;
  top: 7px; }

.news-tab li:last-child a::before {
  display: none; }

.post-sm-icon a {
  margin-right: 15px;
  position: relative;
  top: 4px; }
  .post-sm-icon a i {
    color: #5a5a5a;
    font-size: 16px; }

.mews-05-area {
  background-size: cover;
  background-position: center center; }

.news-data-bg {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: -150px; }

.news-data-wrapper {
  box-shadow: 0px 10px 29.7px 0.3px rgba(226, 226, 226, 0.88);
  background: #ffffff;
  padding: 40px 40px 30px 40px; }

.news-data-text h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1.5;
  margin-top: 14px; }
  .news-data-text h3 a {
    transition: .3s; }
    .news-data-text h3 a:hover {
      color: #ffffff; }

blockquote {
  background: #f1f1f1;
  padding: 21px;
  position: relative;
  padding-left: 130px; }

@media (max-width: 767px) {
  blockquote {
    padding: 30px; } }
blockquote > p {
  font-size: 24px;
  margin-bottom: 0;
  color: #757677;
  font-weight: 700;
  line-height: 1.4;
  font-family: "Poppins", sans-serif; }

blockquote::before {
  content: "\f10e";
  left: 40px;
  top: 45px;
  position: absolute;
  color: #f1f1f1;
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  font-size: 24px;
  height: 60px;
  width: 60px;
  background: #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 60px; }

.layout-text h3 {
  font-size: 24px;
  margin-bottom: 15px; }
.layout-text p {
  margin-bottom: 20px; }

.layout-link li {
  padding-bottom: 11px;
  font-size: 14px;
  font-weight: 400;
  padding-left: 18px;
  position: relative; }
  .layout-link li::before {
    height: 8px;
    width: 8px;
    background: #ffffff;
    content: "";
    position: absolute;
    left: 0;
    border-radius: 50%;
    top: 7px; }

.layout-wrapper .lifestyle-text h4 > a:hover {
  color: #222; }

.layout-content h3 {
  font-size: 24px;
  margin-right: 20px;
  line-height: 1.3;
  margin-bottom: 16px; }
.layout-content p {
  margin-bottom: 19px; }

.layout-video-icon {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%);
  z-index: 9; }
  .layout-video-icon a {
    height: 70px;
    width: 100px;
    display: inline-block;
    border-radius: 15px;
    line-height: 75px;
    text-align: center;
    font-size: 24px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    color: #ffffff;
    position: relative;
    background: #ff0000; }

.layout-title {
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 0; }

.blog-post-tag span {
  font-size: 18px;
  color: #222;
  font-weight: 700; }

.blog-post-tag > a {
  color: #5a5a5a;
  display: inline-block;
  font-size: 15px;
  transition: .3s; }
  .blog-post-tag > a:hover {
    color: #ffffff; }

.blog-share-icon > span {
  color: #222;
  font-size: 18px;
  font-weight: 700; }

.blog-share-icon > a {
  color: #cbcbcb;
  font-size: 14px;
  margin: 0 8px;
  transition: .3s; }
  .blog-share-icon > a:hover {
    color: #ffffff; }

.author {
  background: #f4f9fc;
  padding: 50px;
  padding-bottom: 20px; }
  @media (max-width: 767px) {
    .author {
      padding: 30px 30px 44px 30px; } }

.author-img {
  margin-bottom: 35px;
  margin-right: 30px; }
  .author-img img {
    border-radius: 50%; }

.author-text {
  margin-top: 10px; }
  .author-text h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 13px; }
  .author-text p {
    margin-bottom: 15px; }

.author-icon {
  margin-top: 6px; }
  .author-icon a {
    font-size: 15px;
    color: #cbcbcb;
    margin: 0 5px;
    transition: .3s; }
    .author-icon a:hover {
      color: #ffffff; }

.post-comments {
  margin-bottom: 50px; }

.blog-coment-title h2 {
  font-size: 26px;
  margin-bottom: 0; }

.comments-avatar {
  float: left; }
  @media (max-width: 767px) {
    .comments-avatar {
      float: none; } }
  .comments-avatar img {
    width: 100px;
    margin-right: 20px; }

.latest-comments li:first-child .comments-box {
  border-top: 0;
  padding-top: 0; }
.latest-comments li:last-child .comments-box {
  border-bottom: 0;
  padding-bottom: 0; }
.latest-comments li.children {
  margin-left: 100px; }
  @media (max-width: 767px) {
    .latest-comments li.children {
      margin-left: 0; } }

.comments-box {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0; }

.comments-text {
  overflow: hidden;
  padding-top: 4px; }
  @media (max-width: 767px) {
    .comments-text {
      margin-top: 15px; } }
  .comments-text p {
    margin-bottom: 0;
    margin-top: 8px; }

.avatar-name h5 {
  font-size: 18px;
  margin-bottom: 7px; }
.avatar-name span {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px; }

.avatar-name {
  margin-bottom: 3px;
  overflow: hidden;
  position: relative; }

.reply {
  color: #5a5a5a;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  transition: .3s;
  line-height: 1;
  float: right;
  margin-top: 4px;
  position: absolute;
  right: 0;
  top: 0; }
  .reply:hover {
    color: #ffffff; }
  .reply i {
    margin-right: 5px; }

.conatct-post-form {
  background: #f4f9fc;
  padding: 50px; }
  @media (max-width: 767px) {
    .conatct-post-form {
      padding: 20px; } }
  .conatct-post-form input {
    border: none;
    height: 60px;
    margin-bottom: 20px;
    padding: 0 30px;
    width: 100%;
    font-size: 14px;
    color: #a7a7c1; }
  .conatct-post-form textarea {
    border: none;
    height: 150px;
    margin-bottom: 20px;
    padding: 30px;
    width: 100%;
    color: #a7a7c1;
    font-size: 14px; }

#contacts-form input::-moz-placeholder {
  color: #a7a7c1;
  font-size: 14px; }

#contacts-form input::placeholder {
  color: #a7a7c1;
  font-size: 14px; }

#contacts-form textarea::-moz-placeholder {
  color: #a7a7c1;
  font-size: 14px; }

#contacts-form textarea::placeholder {
  color: #a7a7c1;
  font-size: 14px; }

.contact-icon {
  position: relative; }

.contact-icon::after {
  position: absolute;
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  right: 30px;
  color: #ffffff;
  top: 18px; }

.contact-icon::after {
  position: absolute;
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  right: 30px;
  color: #ffffff;
  top: 18px; }

.contacts-message::after {
  content: "\f303"; }

.contacts-name::after {
  content: "\f007"; }

.contacts-email::after {
  content: "\f0e0"; }

.contacts-website::after {
  content: "\f0ac"; }

.conatct-post-form button {
  background: #222;
  color: #ffffff;
  line-height: 1;
  padding: 21px 122px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  border-radius: 0;
  transition: .3s;
  border: none;
  cursor: pointer;
  transition: .3s; }
  .conatct-post-form button:hover {
    background: #ffffff; }

.layout-wrapper-02 .lifestyle-text {
  margin-top: 0; }

.layout-2-img img {
  width: 100%; }

.layout-img img {
  width: 100%; }

.layout-wrapper-03 .lifestyle-02-text h4 {
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 21px; }

.layout-content-02 h3 {
  font-size: 30px;
  margin-right: 0;
  margin-bottom: 19px; }

.layout-content-02 p {
  margin-bottom: 32px; }

.layout-2-title {
  font-size: 30px;
  text-align: center; }

.author-border {
  border-bottom: 1px solid #e9e9e9; }

.author-1-img img {
  width: 100%; }

.author-2-text {
  margin-left: 20px;
  margin-top: 43px; }
  .author-2-text h2 {
    font-size: 30px;
    margin-bottom: 21px; }
  .author-2-text p {
    margin-bottom: 32px; }

.author-2-text .social-icon a {
  font-size: 13px;
  text-align: center;
  margin-right: 5px;
  height: 36px;
  width: 36px;
  line-height: 36px;
  border-radius: 50%; }
  .author-2-text .social-icon a:last-child {
    margin-right: 0; }

.wp-block-image .figcaption {
  font-size: 14px !important;
  color: #bbafaf; }

/*# sourceMappingURL=news.css.map */
