/* 09. about */ 
.about-wrapper {
	margin-top: 30px;
}
.sub-t-left {
	padding-left: 20px;
}
.area-bold-title{
    & > span{
        color: $theme-color;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
    }
    & h1{
        font-size: 45px;
        margin-bottom: 0;
        margin-top: 21px;
        }
        & p{
            margin-right: 54px;
            margin-top:24px;
            margin-bottom: 0;
        }
    }

.b-sm-left-1 {
	height: 3px;
	width: 15px;
	background: $theme-color;
	left: 0;
	display: inline-block;
	position: relative;
	top: -3px;
}
.b-sm-left-2 {
	height: 3px;
	width: 40px;
	background: $theme-color;
	display: inline-block;
	top: -3px;
	position: relative;
	left: 5px;
}
.about-img{
    margin-left: 70px;
    & img{
        width: 100%;
    }
}