/* 07. breadcrumb */ 
.breadcrumb-bg {
    background-position: center center;
    background-size: cover;
  }
  .breadcrumb-text {
      position: relative;
      z-index: 1;
  }
  .breadcrumb-text > h1 {
      font-size: 50px;
      margin-bottom: 15px;
      text-transform: capitalize;
      line-height: 1;
      color: $white;
  }
  .breadcrumb-menu li {
	display: inline-block;
	position: relative;
	padding: 0 23px;
}
  .breadcrumb-menu li a {
    font-weight: 500;
	color: $white;
	font-size: 24px;
	text-transform: capitalize;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.breadcrumb-menu li::before {
	content: "||";
	display: inline-block;
	padding-bottom: 0;
	position: absolute;
	top: 3px;
	color: $white;
	left: -7px;
	font-size: 22px;
}
  .breadcrumb-menu li:first-child::before {
      display: none;
  }
  .breadcrumb-menu span {
      color: $white;
      font-size: 24px;
      font-weight: 500;
      text-transform: capitalize;
  }