/* 10. btn */
.btn{
	background: $theme-color;
	color: $white;
	line-height: 1;
	padding: 22px 44px;
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 600;
	border-radius: 0;
	transition: .3s;
	border: none;
	cursor: pointer;
	transition: .3s;
    & i{
        padding-left: 5px;
    }
    &:hover{background: $black;color:$white;}
}