/* 04. footer */
.footer-wrapper{overflow: hidden;}
.footer-title {
	font-size: 24px;
	color: $white;
	margin-bottom: 26px;
}
.footer-text p {
	color: #c3cdf4;
	margin-bottom: 32px;
}
.footer-icon a {
	font-size: 13px;
	margin-right: 6px;
	height: 30px;
	width: 30px;
	line-height: 30px;
}
.footer-link{
    & ul{
        & li{
            padding-bottom: 7px;
            &:last-child{padding-bottom: 0;}
            & a{
                color:#c3cdf4;
                font-size: 14px;
                font-weight: 400;
                transition: .3s;
                &:hover{color:$theme-color;border-bottom: 1px solid $theme-color;}
            }
        }
    }
}
.footer-info{
    & li{
        padding-bottom: 17px;
        &:last-child{padding-bottom: 0;}
        & span{
            font-size: 14px;
            font-weight: 400;
            color:#c3cdf4;
            & i{
                color:$theme-color;
                margin-right: 6px;
            }
        }
    }
}
.footer-info-link{
    & li{
        padding-bottom: 13px;
        &:last-child{padding-bottom: 0;}
    }
}
.footer-info-icon{
    & i{
        font-size: 14px;
        color:$theme-color;
    }
}
.footer-content{
    overflow: hidden;
    & p{
        color:#c3cdf4;
        line-height: 26px;
        margin-bottom: 0;
        & a{
            color:$theme-color;
        }
    }
}
.footer-border-top{border-top:1px solid #1e2a5d;}
.footer-bottom-link {
margin-bottom: 5px;
& a {
	color: #c3cdf4;
	font-size: 14px;
	transition: .3s;
	font-weight: 400;
    padding: 0 9px;
    &:hover{color:$theme-color;}
    &:last-child{padding-right:0;}
    &:first-child{padding-left:0;}
}
}
.copyright p {
    margin-bottom: 0; 
    color:#c3cdf4;
    & a{
        color: $theme-color; 
    }
}
.footer-img a {
	float: left;
    margin-right: 20px;
    &:last-child{margin-right: 0;}
}