 /* 2 header */
 .header-transparent {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	transition: .4s;
}
.sticky {
	left: 0;
	margin: auto;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
	z-index: 9999;
	-webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
	-webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
	background: #f0f0f0;
}
.menu-2.sticky {background: $theme-color;}
.menu-2.sticky .menu-bg-2 {padding: 0;}
.header-info h5 {
	color: $white;
	background: $theme-color;
	margin-bottom: 0;
	padding: 22px 71px;
	text-transform: uppercase;
	font-size: 16px;
}
.header-text {
	overflow: hidden;
	position: relative;
	right: 11px;
	top: 17px;
	& ul{
		& li{
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			& a{
				font-size: 14px;
				font-weight: 400;
				color:#aeaeae;
			}
		}
	}
}
.search-icon {
	margin-top: 25px;
	margin-left: 14px;
}
.search-icon a {
	font-size: 14px;
	transition: .3s;
	color:$blue;
	&:hover{color:$theme-color;}
}

.header-icon{
	margin-left: 110px;
}
.header-icon a {
	color: #fff;
	font-size: 13px;
	display: inline-block;
	text-align: center;
	margin-right: 5px;
	transition: .3s;
	height: 35px;
	width: 35px;
	line-height: 35px;
	background: #47639e;
	border-radius: 50%;
	&:last-child{margin-right: 0;}
}
.header-icon a.twitt{background: #00abf0;}
.header-icon a.instagra{background: #405de6;}
.header-icon a.youtub{background: $theme-color;}
.header-lang {
	padding: 22px 17px 22px;
	background: $theme-color;
}
.lang-icon {
    & > a {
		font-size: 18px;
		color: $white;
		margin-left: 5px;
		font-weight: 700;
   	 }
    }
.lang-icon i {
	font-size: 18px;
	position: relative;
	top: 2px;
	left: 3px;
}
.header-lang-list {
	position: absolute;
	width: 137px;
	opacity: 0;
	visibility: hidden;
	padding: 20px 15px;
	border-bottom: 3px solid $theme-color;
	transition: .4s;
	z-index: 999;
	background: $white;
	padding-bottom: 5px;
	padding-top: 4px;
	top: 100%;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
	transition: .3s;
	left:0;
}
.header-lang:hover .header-lang-list {
	opacity: 1;
	visibility: visible;
}
.header-lang-list {
    & li {
        display: block;
        margin-bottom: 0;
        padding: 5px 0;
        & a{
            display: block;
            color: #647589;
            font-size: 13px;
            &:hover{
                color: $theme-color;
            }
        }
    }
}
.pos-rel {
	position: relative;
}
.menu-bar {
	& a{
		background: $black;
		padding: 22px 29px;
		display: inline-block;
		& i{
			font-size: 24px;
			color:#fff;
			transition: .3s;
		}
	}

}
.header-02-info{
	margin-top: 24px;
	margin-right: 35px;
	& span{
		color:$body-text-color;
		font-size: 14px;
		font-weight: 400;
		& a{
			color:$black;
			font-weight: 700;
			margin-right: 3px;
			text-transform: uppercase;
		}
		& i{
			color:$theme-color;
			margin-right: 6px;
		}
	}
}
// .header-3-info
.header-3-info {
	margin-top: 22px;
	margin-right: 0;
}
.header-3-info span {
	color: #bdc6ea;
}
.header-3-info span a {
	color: $white;
	font-weight: 600;
	font-size: 16px;
}
.header-3-info span i {
	font-size: 16px;
}
/* extra info */
.extra-info {
	background: #152136;
	height: 100%;
	padding: 30px;
	position: fixed;
	right: 0;
	top: 0;
	transition: all 0.7s ease 0s;
	width: 340px;
	z-index: 9999;
	transform: translateX(100%);
	padding-bottom: 40px;
}
.extra-info.info-open {
  transform: translateX(0);
}
.extra-info-left{right:inherit;left: 0;transform: translateX(-100%);}
.extra-info.extra-info-left.info-open{transform: translateX(0);}
.close-icon {
  margin-top: -16px;
  text-align: right;
}
.close-icon > button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: $theme-color;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
}
.extra-info > p {
  color: #ddd;
  font-size: 15px;
  line-height: 28px;
}
.extra-info.extra-info-left.info-open {
	transform: translateX(0);
}
.instagram img {
  width: 100%;
}
.social-icon-right > a {
	color: #fff;
	display: inline-block;
	margin-right: 20px;
	text-align: center;
}
.social-icon-right > a:hover {
	color: $theme-color;
}
.instagram {
  overflow: hidden;
  margin: 0 -4px;
}
.instagram > a {
	float: left;
	width: 33.33%;
	padding: 0 4px;
	margin-bottom: 7px;
}
.side-info {
	border-top: 1px solid #344159;
	padding-top: 25px;
}
.contact-list h4 {
	color: #fff;
	font-weight: 500;
	font-size: 18px;
}
.contact-list p {
	color: #fff;
	opacity: .5;
	margin: 0;
	margin-bottom: 5px;
	line-height: 28px;
}
.side-menu ul li:hover a {
  color: $theme-color;
}
// header-2-right
.header-top-link {
	margin-top: 5px;
	& li{
		display: inline-block;
		padding-right: 16px;
		&:last-child{padding-right: 0;}
		& a{
			font-size: 14px;
			font-weight: 400;
			color:$body-text-color;
			transition: .3s;
			&:hover{color:$theme-color;}
		}
	}
}
.header-2-right .header-02-info span a {
	font-size: 16px;
}
.header-2-right .header-02-info span i {
	font-size: 16px;
}
.header-2-right .header-lang {
	background: none;
	padding: 17px 0px 16px;
}
.header-2-right .lang-icon > a {
	font-size: 14px;
	font-weight: 500;
	color: $body-text-color;
}
.header-2-right .header-02-info {
	margin-top: 19px;
	margin-right: 28px;
}
.header-2-right .header-icon {
	margin-left: 36px;
}
.menu-bg-2 {
	padding-left: 30px;
	padding-right: 30px;
}
.header-1-right .menu-bar a {
	background: none;
	padding: 0;
	margin-top: 29px;
}
.header-1-right .search-icon {
	margin-top: 30px;
	margin-left: 0;
	margin-right: 30px;
}
.header-1-right .search-icon a {
	color:$white;
	&:hover{color:$white;}
}
// breaking-2-border
.breaking-2-border{
	border:1px solid #e9e9e9;
}
.breaking-2-border .header-info h5 {
	padding: 21px 45px;
}
.breaking-2-active .owl-nav div {
	color: #b5b5b5;
	font-size: 14px;
	position: absolute;
	top: 4px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	font-weight: 400;
	text-align: center;
	right: 30px;
}
.breaking-2-active .owl-nav div.owl-prev {
	right: 50px;
}
.breaking-2-active .owl-nav div:hover{color:$theme-color;}



/* menu */
.main-menu nav > ul > li {
	display: inline-block;
	position: relative;
}
.main-menu nav > ul > li > a {
	display: block;
	font-size: 14px;
	padding: 29px 16px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	background: transparent;
	line-height: 1;
	position: relative;
	text-transform: uppercase;
	color: $black;
	font-weight: 700;
}
.main-menu nav > ul  > li:hover > a,.main-menu nav > ul  > li.active > a{color:$theme-color;background: #f7f7fd;}
.main-menu > nav > ul > li > a::before {
	background: $theme-color;
	content: "";
	height: 2px;
	position: absolute;
	top: 0;
	width: 0;
	transition: .5s;
	left: 0;
}
.main-menu > nav > ul > li:hover > a::before, .main-menu > nav > ul > li.active > a::before {
	width: 100%;
}

/* sub-menu */
.main-menu nav > ul  > li .sub-menu {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 120%;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 220px;
  z-index: 9;
  border-top:3px solid $theme-color;
  text-align: left;
}
.main-menu nav > ul  > li:hover .sub-menu{opacity:1;top:100%;visibility:visible}
.main-menu nav > ul  > li .sub-menu li{display:block}
.main-menu nav > ul > li .sub-menu li a {
	color: #666666;
	font-size: 14px;
	margin: 0;
	padding: 13px 20px;
	text-transform: capitalize;
	display: block;
	font-size: 400;
}
.main-menu nav > ul  > li:hover > .sub-menu li > a:hover{color:#fff;background: $theme-color;}
// menu-2
.menu-bg-2 .main-menu > nav > ul > li > a::before {
	display: none;
}
.menu-bg-2 .main-menu nav > ul > li > a {
	background: none;
	color:$white;
	padding: 33px 16px;
}

/* mega-menu */
.main-menu ul li.static{
	position: static;
}
.main-menu ul li ul.mega-menu {
	min-width: 100%;
	opacity: 1;
	visibility: visible;
	padding: 35px;
	z-index: 0;
	position: absolute;
	top: 110%;
	left: 0;
	background: #fff;
	right: 0;
	text-align: left;
	box-shadow: 0px 15px 30px 0px rgba(0, 3, 143, 0.1);
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	z-index: 9;
	background-position: bottom right;
	background-repeat: no-repeat;
}
.main-menu ul li:hover ul.mega-menu {
	opacity: 1;
	visibility: visible;
	top: 100%;
}
.main-menu ul li ul.mega-menu li.mega-item {
	width: 25%;
	float: left;
	margin: 0;
}
.main-menu ul li ul.mega-menu li.mega-item > a {
	color: #233d63;
	padding: 0;
	font-size: 18px;
	font-weight: 500;
	text-transform: capitalize;
}
.main-menu ul li ul.mega-menu li.mega-item ul  {
	margin-top: 25px;
}
.main-menu ul li ul.mega-menu li.mega-item ul li {
	display: block;
	margin: 0;
	margin-bottom: 16px;
}
.main-menu ul li ul.mega-menu li.mega-item ul li:last-child {
	margin-bottom: 0;
}
.main-menu ul li ul.mega-menu li.mega-item ul li a {
	color: #233d63;
	padding: 0;
	text-transform: capitalize;
	font-weight: 400;
}
.main-menu ul li ul.mega-menu li.mega-item ul li a:hover{
	color:#F36233 ;
}

/* search modal */
#search-modal {
	background-color: rgba(23,26,33,.95);
}
#search-modal .modal-dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	border: none;
	outline: 0;
}
#search-modal .modal-dialog .modal-content {
	background: 0 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: none;
}
#search-modal .modal-dialog .modal-content form {
	width: 555px;
	position: relative;
}
#search-modal .modal-dialog .modal-content form input {
	width: 100%;
	font-size: 36px;
	border: none;
	border-bottom: 3px solid rgba(255,255,255,.1);
	background: 0 0;
	color: $white;
	padding-bottom: 12px;
	padding-right: 40px;
}
#search-modal .modal-dialog .modal-content form input::-moz-placeholder {
	font-size: 35px;
	color: $white;
}
#search-modal .modal-dialog .modal-content form input::placeholder {
	font-size: 35px;
	color: $white;
}
#search-modal .modal-dialog .modal-content form button {
	position: absolute;
	right: 0;
	margin-bottom: 3px;
	font-size: 30px;
	color: rgba(255,255,255,.5);
	background: 0 0;
	border: none;
	cursor: pointer;
	top: 11px;
}

.sub-wrap {
	border: 1px solid #e3e3e3;
}
.subs-img {
	margin-right: 20px;
}
.sub-content {
	padding-top: 11px;
}
.sub-content span {
	background: #feefea;
	padding: 3px 10px;
	display: inline-block;
	font-weight: 500;
	font-size: 12px;
	color: #f36233;
}
.sub-content h4 {
	font-size: 16px;
	margin-top: 7px;
	margin-bottom: 3px;
}
.sub-content a {
	color: #f36233;
	font-weight: 700;
	font-size: 15px;
}

.sub-modal {

}
#subscribe-modal .modal-dialog {
	max-width: 825px;
	margin: 1.75rem auto;
}
#subscribe-modal .modal-content {
	background: none;
}
.sub-m-img {
	float: left;
}
.sub-m-form {
	overflow: hidden;
	padding: 0 55px;
}
.sub-m-form h3 {
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 25px;
	line-height: 1;
}
.sub-m-form h3 span {
	font-weight: 300;
	font-size: 30px;
	line-height: 1;
	margin-bottom: 10px;
	display: block;
}
.sub-m-form input {
	width: 100%;
	height: 60px;
	padding: 0 15px;
	border: 1px solid #ddd;
}
.sub-m-form button {
	background: #f36233;
	color: #fff;
	border: 0;
	padding: 15px 60px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1px;
	margin-top: 15px;
}
.sub-m-form button:hover{
	background: #222;
}
button{
	cursor: pointer;
	transition: .3s;
}
.sub-modal {
	margin-top: 20%;
	background: #fff;
}