/* 08. team */
.team-img {
    position: relative; 
        & img{
            width: 100%;
        }
        &::before {
            height: 100%;
            width: 100%;
            position: absolute;
            content: "";
            background: #222;
            left: 0;
            top: 0;
            opacity: 0;
            transition: .3s; 
        }
    }
  
    .team-wrapper:hover .team-img::before {
        opacity: .4; 
    }
  .team-icon {
        position: absolute;
        text-align: center;
        bottom: 20px;
        transition: .3s;
        opacity: 0;
        right: 0;
        left: 0; 
        transition: .3s;    
        & a{
            font-size: 13px;
            transition: .3s;
            margin: 0 4px;
            height: 36px;
            width: 36px;
            display: inline-block;
            text-align: center;
            line-height: 36px;
            border-radius: 50%;
            color: $white;
        }
    }

.team-icon-inner{
    display: inline-block;
    background: $white;
    padding: 12px 25px;
    transition: .3s;

}
  
  .team-wrapper:hover .team-icon {
    opacity: 1;
    bottom: 40px; }
  
  .team-text {
    margin-top: 25px; 
    & h4{
        margin-bottom: 6px;
        font-size: 26px;
    }
    & span{
        color: $body-text-color;
        font-size: 16px;
        text-transform: capitalize;
        font-weight: 500;
    }
}
.team-2-img{
    & img{
        width: 100%;
    }
}
.team-sction{
    & span{
        color:$theme-color;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
    }
    & h1{
        font-size: 45px;
        margin-bottom: 0;
        margin-top: 20px;
    }
}
