// Font Family
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;

// Colors ---------------
$white: #ffffff; 
$black: #222;
$red: #f43d33;
$pink: #da1793;
$pink-2: #fb2578;
$green: #4ca80b;
$blue: #040d33;
$blue-2: #008de4;
$blue-soft: #007bff;
$yellow:#ff9500;
$grey:#f0f0f0;
$grey-2:#f7f7f7;
$maron:#990011;
$theme-color: #f36233;
$body-text-color: #888888;
$hr-border-color:#eceff8;


// Heading Color
$heading-color: #404040; 

// Soft color
$black-soft:#7e7e7e;


// Responsive Variables
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';

